$primary-font-color: #575757;
$secondary-font-color: #DB8D33;
$dark-background: #414141;
$darker-background: #150300;

$base-font-size: 16px;
$heading-font-size: 24px;

$default-padding: 10px;
$default-margin: 15px;